@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
  
}

body {
    background-color: #000;
    color: rgb(241, 241, 241);
    padding: 10px 30px;
    background: url('https://i.pinimg.com/originals/ff/c3/8d/ffc38d9bce22d7a9eaa07b890e3af1a2.jpg') no-repeat;
    height: 100vh;
    background-position: center;
    font-family: Arial;
    background-color: black;
    
    
}





.cabecalho {
    font-size: 1.8rem;
    margin-top: 20px;
    width: auto;
    text-align: right;
    position: right;
    text-align: right;

  
}

.cabecalho ul {
    background-color: #000;
    opacity: 0.6;
    padding: 25px 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px black;
    width: auto;
    text-align: right;
    position: right;
  
    
}

.cabecalho a {
    display: inline;
    text-decoration: none;
    color: rgb(244, 244, 250);
    font-weight: 700;
    position: right;
    width: auto;
    text-align: right;
    
}

.menu {
    float: right;
    position: right;
    top: 50%;
    margin: top 100px;;
    font-size: 10px;
    width: auto;
    margin-right: 50px;
    text-align: right;
    
    
}

.menu li {
    list-style: none;
    list-style-type: none;
    padding: 13px;
    display: inline-block;
    letter-spacing: 1.5px;
    margin-right: 10px;
    text-transform: uppercase;
    margin-top: -8px;
    border-radius: 25px;
    transition: 0.7s all;
    margin-top: -200px;
    text-align: right;
    width: auto;
    position: right;

}
.container {
    height: 100px;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
    position: right;
    text-align: right;
    }



.botao {
    margin-top: 100px;
    background-color: rgb(18, 14, 212);
    color: white;
    margin: 5px;
    padding: 15px 35px;
    border:none;
    font-size: 13px;
}
.logo {
    width: auto;
    margin-top: -15px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;

   

}
.main {
    margin-top: 400px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: left;
    
}

i {
      float: right;
      margin-left: 900px;
     

  }
  .ativo {
      background-color: blue;
     
  }

  
  .ferramenta {
      
    text-align: center;
    margin: 0 auto;
    margin-top: 600px;
}

.ferramenta img {
    width: 10%;
    display: inline-block;
}

.esquerdo {
    width: 250px;
    margin-left: 43px;
}

.esquerdo h3 {
    color: blue;
}

.website {
   
    margin-left: 818px;
    width: 250px;
    
  
}

.game {
    
    width: 250px;
    
    margin-top: -176px;
    margin-right: 0px;
    margin-bottom: 170px;
    margin-left: 1174px;
   
}

.social {
    margin-left: 818px;
    width: 250px;
    
  
}

.social2 {
    width: 250px;
  
    margin-top: -129px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 1185px;
}

.titulo {
    margin-top: 600px;
}

.portifolio h3 {
    text-align: center;
    color: blue;
}
.portifolio h1 {
    text-align: center;
}

.portifolio {
    text-align: center;
}

.game1 {
    width: 500px;
    height: 500px;
    display: inline-block;
    text-align: center;
}
.game1 img {
    width: 500px;
    text-align: center;
    

}
.game1 h2 {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}











    




