@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
  
}

body {
    background-color: #000;
    color: rgb(241, 241, 241);
    padding: 10px 30px;
    /* background-image: url(../img/br4omvlo31o41.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 100vh;
    /* background-position: center; */
    font-family: Arial;
    /* width: auto; */
    
    
    
}





.cabecalho {
    font-size: 1.8rem;
    margin-top: 20px;
    width: auto;
    text-align: right;
    position: right;
    text-align: right;

  
}

.cabecalho ul {
    background-color: #000;
    opacity: 0.6;
    padding: 25px 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px black;
    width: auto;
    text-align: right;
    position: right;
  
    
}

.cabecalho a {
    display: inline;
    text-decoration: none;
    color: rgb(244, 244, 250);
    font-weight: 700;
    position: right;
    width: auto;
    text-align: right;
    
}

.menu {
    float: right;
    position: right;
    top: 50%;
    margin: top 100px;;
    font-size: 10px;
    width: auto;
    margin-right: 50px;
    text-align: right;
    
    
}

.menu li {
    list-style: none;
    list-style-type: none;
    padding: 13px;
    display: inline-block;
    letter-spacing: 1.5px;
    margin-right: 10px;
    text-transform: uppercase;
    margin-top: -8px;
    border-radius: 25px;
    transition: 0.7s all;
    margin-top: -200px;
    text-align: right;
    width: auto;
    position: right;

}
.container {
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    position: right;
    text-align: right;
    
    }



.botao {
    margin-top: 100px;
    background-color: rgb(18, 14, 212);
    color: white;
    margin: 5px;
    padding: 15px 35px;
    border:none;
    font-size: 13px;
}
.logo {
    width: auto;
    margin-top: -15px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;

   

}
.main {
    
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 550px;
    
}

i {
      float: right;
      margin-left: 900px;
     

  }
  .ativo {
      background-color: blue;
     
  }

  
  .ferramenta {
      
    text-align: center;
    margin: 0 auto;
    
}

.ferramenta img {
    width: 10%;
    display: inline-block;
}

.esquerdo {
    width: 250px;
    margin-left: 43px;
}

.esquerdo h3 {
    color: blue;
}

.website {
   
    margin-left: 818px;
    width: 250px;
    
  
}

.game {
    
    width: 250px;
    
    margin-top: -176px;
    margin-right: 0px;
    margin-bottom: 170px;
    margin-left: 1174px;
   
}

.social {
    margin-left: 818px;
    width: 250px;
    
  
}

.social2 {
    width: 250px;
  
    margin-top: -129px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 1185px;
}


.portifolio h3 {
    text-align: center;
    color: blue;
}
.portifolio h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.portifolio {
    text-align: center;
}

.game1 {
    width: 500px;
    height: 500px;
    display: inline-block;
    text-align: center;
}
.game1 img {
    width: 500px;
    text-align: center;
    

}
.game1 h2 {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.midias h1 {
    color: rgb(52, 52, 204);
    font-size: 15px;
    font-family: monospace;
}
.midias h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.midias {
    margin-left: 88px;
}

.primeirocoment {
    width: 500px;
    display: inline-block;
    margin-top: 50px;
}

.primeirocoment h2 {
    margin-top: 500px;
}

.primeirocoment img {
    width: 81px;
    height: 83px;
    margin-top: 100px;
    border-radius: 100px;
}
.primeirocoment p {
    width: auto;
}

.global {
    text-align: center;
}
.global h2 {
    display: inline-block;
    padding-top: 20px;
    font-size: 1.5rem;
    margin-top: 40px;
}

.global p {
    font-size: 0.8rem;
    margin-top: 50px;
}
.seeall h3 {
    color: rgb(97, 97, 212);
    font-size: 1rem;
    margin-top: 70px;
}

.team {
    margin-left: 240px;
}
.team h1 {
    color: rgb(89, 89, 214);
    font-size: 13px;
}

.team h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.samanta img {
max-width: 100%;
max-height: 50%;
border-style: solid;
border-radius: 25px;
border-color: black;


}

.samanta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.samanta h2 {
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 1px;
display: block;
width: 100%;
text-align: center;

}
.global3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
    


.jon h2 {
    margin-top: -95px;
    font-size: 20px;
    margin-left: 820px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.sara h2 {
    margin-top: -107px;
    font-size: 20px;
    margin-left: 1219px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.see2 {
    text-align: center;
    color: rgb(106, 106, 224);
    
}
.see2 h3 {
    font-size: 17px;
}

.play h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.play i{
    font-size: 30px;
    text-align: left;
    line-height: inherit;
}

.rodaplay {
    width: 300px;
    height: 300px;
    
    display: inline-block;
}

.homeroda {
    margin: 0px 50px;
    color: rgb(121, 119, 111);
    
}

.homeroda h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.global4, .rodapecentral {
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}












    




